/.phpunit.cache
/node_modules
/public/build
/public/uploads
/public/hot
/public/storage

/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.htaccess
server.php
/public/admin/.phpunit.cache
/public/admin/node_modules
/public/admin/public/build
/public/admin/public/uploads
/public/admin/public/hot
/public/admin/public/storage
/public/admin/storage/*.key
/public/admin/vendor
/public/admin/.env
/public/admin/.env.backup
/public/admin/.env.production
/public/admin/.phpunit.result.cache
/public/admin/Homestead.json
/public/admin/Homestead.yaml
/public/admin/auth.json
/public/admin/npm-debug.log
/public/admin/yarn-error.log
/public/admin/.fleet
/public/admin/.idea
/public/admin/.vscode
/public/admin/.htaccess
/public/admin/server.php
